.section-contact {
  &__title {
    font-family: "GillSans_Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }

  &__content {
    .card {
      background: #f4f4f4;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7);
      border-radius: 25.2174px;

      &-img {
        @include media-breakpoint-down(md) {
          height: 150px;
          width: 100%;
        }
      }

      &-title {
        font-family: "GillSans_Regular", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #041b3a;
      }

      &-text {
        font-family: "GillSans_Regular", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #6d6e71;
      }

      .card-footer {
        background: 0;
        border: 0;
        text-align: center;

        .btn {
          background: #0068bc;
          border-radius: 5px;
          font-family: "GillSans_Regular", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          padding: 14.5px 20px;
        }
      }
    }
  }
}
