// @font-face {
//   font-family: "GillSans_Regular";
//   src: url("../../fonts/GillSans_Regular.otf");
// }

h1,
h2,
h3,
h4,
h5 {
  font-family: "GillSans_Regular", Arial, Helvetica, sans-serif;
}

section {
  padding: 20px;

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 30px !important;
      line-height: inherit !important;
    }

    h5 {
      font-size: 25px !important;
      line-height: inherit !important;
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #041b3a;
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-news-pagination {
  text-align: center;
}

.swiper-pagination-bullet {
  background: #9f9f9f !important;
  border: 2px solid #7c7c7c !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-slide {
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }

  &-active {
    @include media-breakpoint-up(md) {
      img {
        height: 215px;
      }
    }
  }
}
